h1 {
  background-color: #edd9f5;
  text-align: center;
  color: #691b88;
}

h2 {
  background-color: #f5d4f1;
  text-align: center;
  color: #e033cb;
}

p {
  color: #2d2bd3;
}

.divs {
  border-top: 4px solid violet;
  border-bottom: 4px solid violet;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



  
