h1 {
  background-color: #edd9f5;
  text-align: center;
  color: #691b88;
}

h2 {
  background-color: #f5d4f1;
  text-align: center;
  color: #e033cb;
}

body {
  background-color: #f7f2db;
}

p {
  color: #2d2bd3;
}

.divs {
  border: 2px solid black;
}



  
