a:link {
  color: pink;
}

a:visited {
  color: red;
}

#basics {
  text-align: center;
  font-size: large
}

ul {
  list-style-type: square;
}

ul li {
  margin: 5px;
  padding: 15px
}

table, th, td {
  border: 1px solid blue;
}
  

