@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

@media only screen and (min-width: 601px) {
  body {
    background-color: #eae9e8;
  }
}
  
@media print {
  .screenprint {
    display: none
  }
}
